################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JobSwitchsln/ConsoleApp1/obj
/JobSwitchsln/ConsoleApp1/bin/Debug/net8.0
/JobSwitchsln/.vs
/JobSwitchsln/MVCApplication/bin/Debug/net10.0
/.vs
/JobSwitchsln/MVCApplication/obj
