@model MVCApplication.Models.InterviewRound

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>InterviewRound</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="JobApplicationId" class="control-label"></label>
                <input asp-for="JobApplicationId" class="form-control" />
                <span asp-validation-for="JobApplicationId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RoundName" class="control-label"></label>
                <input asp-for="RoundName" class="form-control" />
                <span asp-validation-for="RoundName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ScheduledDate" class="control-label"></label>
                <input asp-for="ScheduledDate" class="form-control" />
                <span asp-validation-for="ScheduledDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="InterviewerName" class="control-label"></label>
                <input asp-for="InterviewerName" class="form-control" />
                <span asp-validation-for="InterviewerName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Result" class="control-label"></label>
                <input asp-for="Result" class="form-control" />
                <span asp-validation-for="Result" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Feedback" class="control-label"></label>
                <input asp-for="Feedback" class="form-control" />
                <span asp-validation-for="Feedback" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DurationMinutes" class="control-label"></label>
                <input asp-for="DurationMinutes" class="form-control" />
                <span asp-validation-for="DurationMinutes" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="JobApplication" class="control-label"></label>
                <input asp-for="JobApplication" class="form-control" />
                <span asp-validation-for="JobApplication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
